body{
	overflow-x: hidden; 
	padding: 0 0 400px 0;
}

// Main Page
#welcome{
	width: 100%; 
	background: url(/images/code.jpg) no-repeat;
	background-size: cover;  
	height: 600px;
	position: relative;
	color: #fff;
	margin-bottom: 100px;
	&:before{
		content: ''; 
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,.5);
	}
	.container{
		height: 600px;
		position: relative;
		z-index: 10;
		div{
			position: absolute;
			bottom: 40px; 
			left: 40px;
			width: 40%;
			h1{
				text-transform: uppercase;
				font-size: 4em;
			}
			p{
				font-size: 2em;
			}
		}
	}
}

// Userpage Styling
#profile-page{
	span{display: block;font-weight: bold;}
}

.profile-image{
	img{
		width: 100%;
	}
}
.remove-button-container{
	padding: 20px;
}

#user-workspace-list{
	list-style: none;
}


#search-form{
	position: relative;
	ul{
		position: absolute;
		top: 100%;
		left: -10000px;
		list-style: none;
		padding: 0;
		margin: 0;
		border-radius: 0 0 5px 5px; 
		border: 1px solid #ccc;
		&.active{
			left: 0;
		}
		li{
			a{
				display: block; 
				background: #fff;
				padding: 0px 20px; 
				font-size: 1.5em;
				&:hover{
					background: #eee;
					cursor: pointer;
				}
			}
		}
	}
}
